@import url('./variables.css');
 
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  font-size: 18px;
  line-height: 32px;
  min-height: 100vh;
  @apply bg-background text-foreground;
}

.main {
  flex: 1 1 auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
}

a:focus {
  opacity: 0.8;
  outline: none;
}

a:active {
  opacity: 0.7;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 64px;
  line-height: 70px;
  font-weight: bold;
}

@media (max-width: var(--breakpoint-m-width)) {
  h1 {
    font-size: 42px;
    line-height: 42px;
  }
}

h2 {
  font-size: 48px;
  line-height: 54px;
  font-weight: bold;
}

@media (max-width: var(--breakpoint-m-width)) {
  h2 {
    font-size: 32px;
    line-height: 40px;
  }
}

h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
}

@media (max-width: var(--breakpoint-m-width)) {
  h3 {
    font-size: 26px;
    line-height: 32px;
  }
}

h4 {
  font-size: 30px;
  line-height: 43px;
  font-weight: 400;
  letter-spacing: 0em;
}

@media (max-width: var(--breakpoint-m-width)) {
  h4 {
    font-size: 22px;
    line-height: 30px;
  }
}

h5 {
  font-size: 22px;
  line-height: 30px;
  font-weight: bold;
}

@media (max-width: var(--breakpoint-m-width)) {
  h5 {
    font-size: 18px;
    line-height: 24px;
  }
}

h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: bold;
}

.large-body {
  font-size: 25px;
  line-height: 32px;
}

@media (max-width: var(--breakpoint-m-width)) {
  .large-body {
    font-size: 22px;
    line-height: 30px;
  }
}

label {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

@media (max-width: var(--breakpoint-m-width)) {
  label {
    font-size: 13px;
  }
}
